body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.form-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  border: 1px solid #999;
  width: 420px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

/* Filas */
.row {
  
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-bottom: 15px;
  
}

.col {
  flex: 1;
}

/* Labels e Inputs */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #999;
  font-size: 14px;
}

/* Texto de ayuda */
small {
  display: block;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #666;
  font-size: 12px;
}

/* Parte inferior */
.row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.row-bottom label {
  font-size: 13px;
  color: #272424;
}


/* Botón */
.btn {
  background: #00a8e8;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  transition: background 0.3s;
}

.btn:hover {
  background: #008bbf;
}