.btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.primary {
  background-color: royalblue;
  color: white;
}

.secondary {
  background-color: gray;
  color: white;
}