/* Modo oscuro y tipografía distinta */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Winky Rough", sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Títulos */
h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Usuario */
a {
    color: #4fc3f7; /* Azul/celeste */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Fecha */
.fecha {
    font-size: 0.9rem;
    color: #b0b0b0;
    margin: 2px 0 10px;
}

/* Reacciones */
span {
    background-color: #b0b0b0; /* Gris claro */
    color: #000;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 0 3px;
    display: inline-block;
}
