/* ===================== */
/* Estilos generales */
/* ===================== */


body {
background-color: #121212;
color: #ffffff;
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
}


main {
width: 700px;
text-align: center;
}


section {
margin-bottom: 2rem;
}


ul {
list-style: none;
padding: 0;
}


li {
background-color: #1e1e1e;
margin: 0.5rem 0;
padding: 0.5rem;
}


input, textarea, button {
width: 100%;
margin-top: 0.5rem;
padding: 0.5rem;
}