/* ===========================
   ESTILOS GENERALES
=========================== */
body {
background-image: linear-gradient(to top, #000008, #10141d, #142330, #143241, #0c4252);
  color: #cfa7e4;
  font-family: 'Philosopher', sans-serif
}

/* ===========================
   ESTILOS DEL ENCABEZADO
=========================== */

header {
  text-align: center;
  padding: 2rem 1rem;
}

/* ===========================
   RUEDA DE SIGNOS
=========================== */
.rueda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.signo {
  background-color: #7316bf;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  color: #bd91de;
  transition: transform 0.3s, background-color 0.3s;
}

.signo:hover {
  background-color: #00bbfe;
  color: #000;
  transform: scale(1.1);
}

/* ===========================
   TARJETA DE INFORMACIÓN
=========================== */
.card {
  margin: 2rem auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 204, 112, 0.4);
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
