/* Fondo general */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

.background {
  background: url(https://media.istockphoto.com/id/618865294/es/foto/de-nueva-york-taxi.jpg?s=612x612&w=0&k=20&c=AqfBm6tVup9ayppToxBNVAcftv74qWO-oExwPkKJywc=) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffc107;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Caja negra del formulario */
.form-container {
  background: rgba(0, 0, 0, 0.9);
  padding: 25px 30px;
  border-radius: 4px;
  width: 500px;
  max-width: 90%;
  text-align: left;
}

/* Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group.small {
  max-width: 100px;
}

label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

input, select {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  outline: none;
}

/* Botón */
button {
  background: #ffc107;
  border: none;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e0a800;
}